/* RESET CSS */
html * {
    margin: 0px;
    text-decoration: none;
}

#menu {
    height: 400px;
    background-color: #747373;
    /* ALINHAR ITENS NO CENTRO */
    display: flex;
    justify-content: center;
    align-items: center;

}

#perfil {
    height: 300px;
    width: 300px;
    /* AJUSTAR IMAGEM SEM PERDER PROPORÇÃO */
    object-fit: cover;
    /* DEIXA A IMAGEM ARREDONDADA */
    border-radius: 50%;
    margin: 20px;

}
main {
    text-align: center;
    background-color: #5c5c5c;
    color: white;
    padding: 20px;
}

#principal {
    background-color: #5c5c5c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa {
    background-color: #1f1f1f;
    height: 400px;
    width: 400px;
    margin: 20px;
    /* ALINHAMENTO DO TEXTO NA CAIXA */
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    color: white;
    font-size: 30px;
}


#rodapé {
    height: 200px;
    background-color: #505050;
    /* ALINHAMENTO DOS ICONES DAS REDES SOCIAIS */
    display: flex;
    justify-content: center;
    align-items: center;
}
.icones {
    height: 100px;
    margin: 20px;
}